<!DOCTYPE html>
<html>
<head>
    <title>Player Data Form</title>
</head>
<body>
    <form action="http://localhost:5000/submit" method="POST">

        Please locate the Player ID from vlr.gg. Search up the player and the link to their profile should have an id number
        Example:
        https://www.vlr.gg/player/9/tenz
        9 being the ID.<br>

        Player ID: <input type="text" name="player_id"><br>

        Please be as specific as possible when typing the team name.

        Opposing Team: <input type="text" name="opposing_team"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
